{% extends 'rango/base.html' %}

{% load staticfiles %} <!-- New line -->


{% block title  %}About{% endblock %}

    {% block body_block %}
        <div class="page-header">
                <h1>About</h1>
            </div>
            <div>
            <p>visits: {{ visits }} <br/>
            Rango says here is the about page <br/>
	        This tutorial has been put together by Naeem Rahman, 2095150b <br/></strong>.</p>
                <img  width="500" height="600" src="{% static "images/selfie.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
            </div>
{% endblock %}

