{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Rango{% endblock %}

    {% block body_block %}
        <div class="page-header">
                {% if user.is_authenticated %}
            <h1>Rango says... hello <small>{{ user.username }}!</small></h1>
        {% else %}
            <h1>Rango says... <small>hello world!</small></h1>
        {% endif %}
            </div>
            <div>
            <p> {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
                <p></p>
                {% for page in pages %}
                <li><a href= {{ page.url }}>{{ page.title }}</a></li>
                {%  endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
                </strong>.</p>
            </div>
    {% endblock %}